# Use systemctl edit syborg@BACKUP.timer (where BACKUP is a backup section
# defined in ~/.config/syborg/syborg.cfg) and set the [Timer] section to
# something like this:
#
#    [Timer]
#    OnCalendar=hourly
#
# Then systemctl enable syborg@BACKUP.timer to start the timer automatically on
# boot.

[Install]
WantedBy=timers.target
