[Desktop Entry]
Name=GTK agent for systemd-ask-password
Exec=/usr/bin/systemd-gtk-ask-password-agent
Terminal=false
Type=Application
Categories=
NoDisplay=true
